<div class="home-opener-container">
  <div class="column-left">
    <h1 style="margin-top: 0px">THIS YEAR’S RUN</h1>
    <p>Hello HAT Run runners, volunteers, and fans,</p>

    <p>The race is ON! {{.Site.Params.raceDateYear}} marks the {{.Site.Params.annual}} annual running of this great
      ultra-marathon on the trails of Susquehanna
      State
      Park, located in Havre de Grace, MD. The 50-kilometer course is mostly single-track trail with a mix of open
      fields,
      dirt road, and minimal paved road. Our course features a starting loop of 3.6 miles followed by two identical
      loops
      of 13.7 miles with nearly 4,300 feet of climbing throughout. Be ready for 4 stream crossings - these can be
      challenging depending on the water level (read: there is always the chance of getting wet feet!)</p>

    <p>This Stepping Stone Museum is our race day headquarters as well as the start/finish line. HQ is filled with
      spectators, volunteers, and of course, our esteemed RD's waiting to encourage you at mile 17.3 and shake your hand
      at that glorious 31-mile finish-line. Along the way, you'll experience our world-renowned aid stations filled with
      everything you need to keep you hydrated, energized and inspired. If you aren't running, volunteers and spectators
      are always welcome!</p>

    <p><a href="http://hatrun.com/runners">Map to Race HQ</a></p>

    <p>One last thing… the gear! We take pride in our high-quality runner swag. Expect a gift from us both before AND
      after
      the race. It'll be a surprise, but we promise it's worth the wait. And, your HAT run will be topped off with the
      official HAT hat. Wear it with pride to celebrate your accomplishment!</p>

    <p>Check out our Runners section for all the fine print (fees, policies, course map, etc).</p>

    <p>We'll be ready for you on {{.Site.Params.raceDate}}. Don't miss this great ultra-run experience!</p>
  </div>
  <div class="column-right">
    <img width="100%" src="{{.Site.BaseURL}}img/phil_and_tim.png" alt="Tim Gavin and Phil Anderson">
  </div>
</div>